<a href="https://colab.research.google.com/github/Cristian0Herrera/Programacion-III-2023/blob/main/COMPUTO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduccion a python
Declaracion de variables

In [ ]:
saludo1 = "Hola mario."
saludo2 = " Hola cris."
respuesta = saludo1 + saludo2

print(respuesta)

Hola mario. Hola cris.

In [ ]:
num1 = 5
num2 = 20.5

respuesta = num1 + num2

print ("La suma de ", num1, " + ", num2, " = ", respuesta)

La suma de  5  +  20.5  =  25.5

In [ ]:
name = "Cristian Herrera"
edad = 20
saludo = "Hola " + name + ", tu edad " + str(edad)
print(saludo)

Hola Cristian Herrera, tu edad 20

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("Tu edad: ")
saludo = "Hola que tal "+ nombre + ", tu edad: " + edad
print(saludo)

Dime tu nombre: cristian
Tu edad: 20
Hola que tal cristian, tu edad: 20

In [ ]:
num1 = float( input("Digita el primer numero: " ))
num2 = float( input("Digita el segundo numero: "  ))

suma = num1 + num2
print(suma)

Digita el primer numero: 5
Digita el segundo numero: 5
10.0

In [ ]:
num1 = float( input("Digita el primer numero: " ))
num2 = float( input("Digita el segundo numero: " ))

suma = num1 - num2
print(suma)

Digita el primer numero: 5
Digita el segundo numero: 10
-5.0

In [ ]:
num1 = float( input("Digita el primer numero: " ))
num2 = float( input("Digita el segundo numero: ",  ))

suma = num1 / num2
print(suma)

Digita el primer numero: 2
Digita el segundo numero: 10
0.2

***FUNCIONES DE USUARIOS***



*   Convertir grados celsius a fahrenheit

In [ ]:
def convertir(c):
 return c*9/5 + 32

In [ ]:
c = float(input("celsius: "))
print("F: ", convertir(c))

celsius: 40
F:  104.0


*   Convertir grados fahrenheit a celsius

In [ ]:
def convertir2(f):
 return f-32 * 5/9

In [ ]:
f = float(input("Fahrenheit: "))
print("C: ", convertir2(f))

Fahrenheit: 40
C:  22.22222222222222



*   Calcular el sueldo mensual

In [ ]:
def sueldo(numHors, valorXhr):
  sueldo = numHors*valorXhr*30
  if(numHors>8):


    sueldo += (numHors-8)*valorXhr*2*30
    sueldo = sueldo*0.9075


  return sueldo

In [ ]:
valorXhr = 4
numHors = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print("sueldo: ", s, "ISR: ", isr, s*0.9075-isr)
#print("Sueldo: ", sueldo(numHors, valorXhr))

Horas trabajadas: 8
Sueldo:  960.0

In [ ]:
tabla_isr = [
    [0.01, 477, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 999999, 0.3,]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

**FUNCIONES LANBDA**
* FUNCIONES PRECONSTRUIDA: MAP, FILTER, FIND (no hay un equivalente), REDUCE, ETC

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, [1,2,3,4,5])
print(list(resp))

[3, 4, 5]

In [ ]:
import	functools
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print( semana.count("domingo"))#count cuenta el numero de veces que aparece un elemento en la tupla
print(len(semana))

1
7

**LISTA=> Array**

In [ ]:
meses = ["ene","feb","mar","abr","may","jun","jul","ago","sep","oct","nov","dic"]
print(meses[-2:])
print(meses[2:])


print(meses)

['nov', 'dic']
['mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']
['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [["Progra 1", [5,7,8], [8,7,9], [9,10,8]],["Progra 2"]]
print(materias[1][0])

Progra 2

**DICCIONARIOS => JSON**

In [ ]:
materias ={
    "Progra 1":{
        "c1":{
            "lab1": 5,
            "lab2": 9,
            "parcial": 8
        },
        "c2":{
            "lab1": 7,
            "lab2": 9,
            "parcial": 9
        },
        "c3":{
            "lab1": 10,
            "lab2": 9,
            "parcial": 8
        }
    }
}
print(materias["Progra 1"] ["c1"])

{'lab1': 5, 'lab2': 9, 'parcial': 8}

**LISTAS**
# * [a, b, c, ...]

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3,data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print(list(f))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda x: (x % 2 == 0), data)
print(list(pares))

[2, 6, 8]

In [ ]:
impares = filter(lambda x: (x % 2 != 0), data)
print(list(impares))

[5, 9]

CICLOS



*   FOR

In [ ]:
for item in data:
  print(item)

2
5
6
8
9



*   WHILE

In [ ]:
i= 0
n= len(data)
while i<n:
  print(data[i])
  i+=1

2
5
6
8
9

TABLA DE MULTIPLICAR

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

N Tabla: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

Escribir un programa que pida la nota de examen (0-10), e imprima por pantalla la calificacion en formato: "suspenso" si la nota es menor a 5, "Aproado" si es entre 5 inclusive y 7 sin incluir,  "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir y "Honorable" si es 10

In [ ]:
nota = float (input("Ingrese la nota del examen (0-10): "))
if (nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
    print("Suspenso")
elif(nota<7):
  print("Aprobado")
elif(nota<9):
  print("Notable")
elif(nota<10):
  print("Sobresaliente")
else:
  print("Honorable")

Ingrese la nota del examen (0-10): 11
Nota invalida

**Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int (input("Limite: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=",c)
  b=a
  a=c

Limite: 100
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13
13 + 8 = 21
21 + 13 = 34
34 + 21 = 55
55 + 34 = 89
89 + 55 = 144

**PROGRAMACION ORIENTADA A OBJETOS.**

* CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

## Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto. (20%)

In [ ]:
def calcular_isr(salario_res):
    if 472.0 < salario_res <= 895.24:
        salario_por = salario_res - 472.0
        agre = salario_por * 0.10
        isr = agre + 17.67
    elif 895.24 < salario_res <= 2038.10:
        salario_por = salario_res - 895.24
        agre = salario_por * 0.20
        isr = agre + 60.00
    elif salario_res > 2038.10:
        salario_por = salario_res - 2038.10
        agre = salario_por * 0.30
        isr = agre + 288.57
    else:
        isr = 0.00
    return isr

salario = float(input("Ingrese su salario: "))
salario_iss = salario * 0.03
salario_afp = salario * 0.0625
salario_res = salario - salario_iss - salario_afp

if salario <= 472.0:
    salario_res = salario - salario_iss - salario_afp
    print("Su salario es:", salario_res, "usted no paga renta")
else:
    isr = calcular_isr(salario_res)
    total_deducciones = salario_iss + salario_afp + isr
    sueldo_neto = salario - total_deducciones

    print("Deducción ISSS: $", salario_iss)
    print("Deducción AFP: $", salario_afp)
    print("Deducción ISR: $", isr)
    print("Total deducciones: $", total_deducciones)
    print("Sueldo neto: $",sueldo_neto)

## Calcular el valor a pagar según el número de metros consumidos de agua potable

In [ ]:
cobro = float(input("Ingrese los mts consumidos: "))

if cobro <= 18:
    print("Usted pagará: $6")
elif 18 < cobro <= 28:
    agregado = cobro - 18
    suma = agregado * 0.45
    totalpaga = 6 + suma
    print("El total a pagar es: $", totalpaga)
elif cobro > 28:
    exceso = cobro - 28
    cargo_exceso = exceso * 0.65
    cargo_reducido = 10 * 0.45
    total_a_pagar = 6 + cargo_exceso + cargo_reducido
    print("Total a pagar: $", total_a_pagar)

## Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

In [ ]:
mes = int(input("Escriba cuantos meses va a pagar: "))
def sum(mes):
  n = mes
  formula = n * (n + 1) / 2
  total = formula
  print("Mes:", n, "\nAcumulado:", total)

sum(mes)

## Realizar un conversor propio, donde espesifique el valor de conversión:

• 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades

In [ ]:
print("Conversor de Cajas y Unidades")
print("1. Cajas a Unidades")
print("2. Unidades a Cajas")
print("")

opcion = int(input("Seleccione una opción: "))
print("")

if opcion == 1:
    cajas = float(input("Ingresa la cantidad de cajas: "))
    print(f"{cajas:.2f} cajas equivalen a {cajas * 25:.2f} unidades.")
elif opcion == 2:
    unidades = float(input("Ingresa la cantidad de unidades: "))
    cajas, unidades_sobrantes = divmod(unidades, 25)
    print(f"{unidades:.2f} unidades equivalen a {int(cajas)} cajas y {unidades_sobrantes:.2f} unidades.")
else:
    print("Opción no válida.")

• 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras

In [ ]:
print("Conversor de Sacos a libras ")
print("1. Sacos a libras")
print("2. Libras a sacos ")
print("")

opcion = int(input("Seleccione una opción: "))
print("")

if opcion == 1:
    sacos = float(input("Ingresa la cantidad de sacos: "))
    print(f"{sacos:.2f} sacos equivalen a {sacos * 50:.2f} libras.")
elif opcion == 2:
    libras = float(input("Ingresa la cantidad de unidades: "))
    sacos, libras_sobrantes = divmod(libras, 50)
    print(f"{libras:.2f} libras equivalen a {int(sacos)} sacos y {libras_sobrantes:.2f} libras.")
else:
    print("Opción no válida.")

1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [ ]:
print("Conversor de Cajas y Unidades")
print("1.Fardo  a Unidades")
print("2. Unidades a Fardo ")
print("")

opcion = int(input("Seleccione una opción: "))
print("")

if opcion == 1:
    fardo  = float(input("Ingresa la cantidad de  fardo : "))
    print(f"{ fardo :.2f}  fardo  equivalen a { fardo  * 5:.2f} unidades.")
elif opcion == 2:
    unidades = float(input("Ingresa la cantidad de unidades: "))
    fardo , unidades_sobrantes = divmod(unidades, 5)
    print(f"{unidades:.2f} unidades equivalen a {int( fardo )}  fardo y {unidades_sobrantes:.2f} unidades.")
else:
    print("Opción no válida.")

## Conversores: (40%) (10 ítems como mínimo por cada uno)

• Monedas

• Longitud

• Masa

• Almacenamiento

• Tiempo

• Volumen

• Área

In [ ]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/ valores [conversor][de] * cantidad

In [ ]:
etiquetas= [

[],
["Seleccione una opcion", "1. Dolares", "2. Quetzales", "3. Lempiras", "4. Córdobas","5. Pesos CR", "6. Euros", "7. Colon SV", "8. Yenes", "9. Soles, 10. Bolivar"], #Divisas

["Seleccione una opcion", "1. Metro", "2. Milimetro", "3. Centimetro", "4. Pie", "5. Vara", "6. Yardas", "7. Km","8. Millas", "9. Hectómetro", "10. Decámetro"], #Longitud

["Seleccione una opcion", "1. Kilogramo", "2. Hectogramo", "3. Decagramo", "4. Gramo", "5. Decigramo", "6. Centigramo", "7. Miligramo", "8. libra", "9. Stone", "10. Onza" ], #Masa

["Seleccione una opcion", "1. Byte", "2. Kilobyte", "3. Megabyte", "4. Mebibyte", "5. Gigabyte", "6. Gibibyte", "7. Terabyte", "8. Tebibyte", "9. Petabyte", "10. Pebibyte"], #Almacenamiento

["Seleccione una opcion", "1. Hora", "2. Minutos", "3. Segundos", "4. Decisegundos", "5. Centisegundos", "6. Milisegundos", "7. Microsegundos", "8. Nanosegundos", "9. Picosegundos", "1. Femtosegundos"], #Tiempo

["Selecciona una unidad de medida:", "1. Metro cubico", "2. Litro", "3. Mililitro", "4. Galon imperial", "5. Cuarto imperial", "6. Pinta imperial", "7. Taza imperial", "8. Onza liquida imperial", "9. Cucharada imperial", "10. Cucharadita imperial"], #Volumen

["Selecciona una unidad de medida:", "1. Kilometro cuadrado", "2. Metro cuadrado","3. Milla cuadrada", "4. Yarda cuadrada", "5. Pie cuadrado", "6. Pulgada cuadrada", "7. Hectarea", "8. Acre", "9. Tareas", "10. Centímetro cuadrado"] #Area
]

valores= [
    [],
[0, 1, 7.86, 24.57, 36.17, 536,73, 0.92, 8.76, 145,87, 3.71, 6.85], #Divisas
[0,1,1000,100,3.2808398950131, 1.1963081929167, 1.0936132983377, 0.001, 0.00062137119223733, 0.01, 0.1], #Longitud
[0,1,10,100,1000,10000,100000,1000000,2.2046223302272, 0.15747304441777, 35.274], #Masa
[0, 1, 0.001, 0.000001, 9.5367431640625E-7, 1.0E-9, 9.3132257461548E-10, 1.0E-12, 9.0949470177293E-13, 1.0000E-15, 8.8817841970013E-16], #Almacenamiento
[0,1,60,3600,36000,360000,3600000,3600000000,3600000000000,3600000000000000, 3599999999999999500], #Tiempo
[0, 1, 1000, 1000000, 219.96924829909, 879.87699319635 , 1759.7539863927, 3519.5077544697, 35195.079727854, 56312.127564567, 168936.3826937], #Volumen
[0, 1, 1.0E-6, 3.8610215854245E-7, 1.1959900463011, 10.76391041671, 1550.0031000062, 0.00159033, 0.00024710538146717, 0.00159033 , 10000] #Area
]

In [ ]:
print ("***** MENÚ ****")
print ("1- Divisas")
print ("2- longitud")
print ("3- Masas")
print ("4- Almacenamiento")
print ("5- Medidas de tiempo")
print ("6- Volumen ")
print ("7- Area")
print (" ")
opcion= int (input ("conversor: "))
print ("Conversor elegido: ", etiquetas[opcion])
de= int(input("DE: "))
a = int(input("A: "))
cantidad = int (input("Cantidad: "))
print("Conversor de ", etiquetas[opcion][de], "a" , etiquetas[opcion][a], "equivale a ", convertir(opcion, de, a, cantidad))

***** MENÚ ****
1- Divisas
2- longitud
3- Masas
4- Almacenamiento
5- Medidas de tiempo
6- Volumen
7- Area

conversor: 5
Conversor elegido:  ['Seleccione una opcion', '1. Hora', '2. Minutos', '3. Segundos', '4. Decisegundos', '5. Centisegundos', '6. Milisegundos', '7. Microsegundos', '8. Nanosegundos', '9. Picosegundos', '1. Femtosegundos']
DE: 1
A: 2
Cantidad: 1
Conversor de  1. Hora a 2. Minutos equivale a  60.0

### **PARCIAL COMPUTO 1**

Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones:
a. Pie Cuadrado
b. Vara Cuadrada
c. Yarda Cuadrada
d. Metro Cuadrado
e. Tareas
f. Manzana
g. Hectárea

In [ ]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/ valores [conversor][de] * cantidad

In [ ]:
etiquetas= [
["Selecciona una unidad de medida:", "1. Pie Cuadrado", "2. Vara Cuadrada","3. Yarda Cuadrada", "4. Metro Cuadrado", "5. Tareas", "6. Manzana", "7. Hectárea"] #Area
]

valores= [
[0, 1, 0.132966, 0,11111111, 0.09290304, 0.00014774656489, 700, 6.988,96, 1,000] #Area
]

In [ ]:
print ("Area (Superficie)")
print (" ")
opcion = 0
print ("Opciones: ", etiquetas[opcion])
de= int(input("DE: "))
a = int(input("A: "))
cantidad = int (input("Cantidad: "))
print("Conversor de ", etiquetas[opcion][de], "a" , etiquetas[opcion][a], "equivale a ", convertir(opcion, de, a, cantidad))

Area (Superficie)

Opciones:  ['Selecciona una unidad de medida:', '1. Pie Cuadrado', '2. Vara Cuadrada', '3. Yarda Cuadrada', '4. Metro Cuadrado', '5. Tareas', '6. Manzana', '7. Hectárea']
DE: 6
A: 5
Cantidad: 1
Conversor de  6. Manzana a 5. Tareas equivale a  628.7999999808321